/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Buttons */

.btn {
    -webkit-border-radius: 100px !important;
    -moz-border-radius: 100px !important;
    border-radius: 100px !important;
    font-size: 18px;
    border: 1.5px solid;
}

.btn.white-outline {
    border-color: #FFF;
    color: #FFF;
    min-width: 270px;
}

.btn.white-outline:hover {
    background-color: #FFF;
    border-color: #000;
    color: #000;
}

.btn.black-outline {
    border-color: #000;
    color: #000;
    min-width: 270px;
}
.btn.black-outline:hover {
    background-color: #000;
    border-color: #FFF;
    color: #FFF;
}

.btn.white {
    background-color: #FFF;
    border-color: #FFF;
    color: #3584EE;
    min-width: 270px;

}

.btn.white:hover {
    background-color: #3584EE;
    border-color: #FFF;
    color: #FFF;
}

.btn.blue{
    background: none;
    background-color: #3584EE;
    border-color: #3584EE;
    color: #FFF;
    min-width: 270px;
}

.btn.blue:hover {
    background-color: #FFF;
    border-color: #3584EE;
    color: #3584EE;
}

.btn.video:before {
    font-family: "dashicons";
    content: "\f235";
    padding-right: 6px;
    vertical-align: middle;
}
.btn.smaller {
    min-width: auto !important;
    padding: 0 5px;
}

/* Input button - Newsletter subscribe */
.input-btn-wrapper {
    max-width: 422px;
    /* margin: 20px auto;*/
    text-align: center;
    position: relative;
    z-index: 2;
}

.input-btn-wrapper .form-control {
    height: 50px;
    background: #FFF;
    border: 1.5px solid #3584EE;
    border-radius: 100px 0 0 100px;
    padding-left: 20px;
}

.input-btn-wrapper .form-control:focus {
    box-shadow: none;
}

.input-btn-wrapper .btn {
    min-height: 50px;
    border-radius: 50px 100px 100px 50px !important;
    left: -10px;
    position: relative;
    min-width: auto;
}
.input-btn-wrapper .btn:hover, .input-btn-wrapper .btn:focus{
	min-width: auto !important;
}
.input-btn-wrapper .area-code {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    border: 1.5px solid #3584EE;
    padding: 10px;
}

.rounded-top-left {
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}
.btn.dropdown-toggle{
    border:none;
}

/* Button only appears on top nav for desktop*/
.btn.nav-get-app {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    padding: 3px 10px;
    min-width: auto;
}

/* End buttons */

/* carousel*/

.carousel-indicators {
    position: static;
}
.carousel-indicators li {
    background-color: #333;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.blue-panel-solid .carousel-indicators li {
    background-color:#FFF;
}

/* End carousel*/

.card.fullheight {
    height:100%;
}


/* forms-card login */
.card.forms-card {
    text-align: center;
max-width: 596px;
margin: 0 auto;
}
.card.forms-card p,
.card.forms-card h4,
.card.forms-card h5 {
    color: #000;
}
.card.forms-card p {
    font-weight: bold;
    
}

/* service-card */
.card.service {
    text-align: center;
    min-height: 241px;
    margin-bottom: 30px;
    background-color: #F8F8F8;
}

.card.service:hover {
    text-decoration: none;
}

.card.service .card-body {
    position: relative;
}

.card.service h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.card.service p.card-text {
    font-size: 14px;
    line-height: 22px;
}

.card.service .card-header {
    background-color: #2A52CA;
}

.card.service .card-circle {
    background-color: #2F80ED;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #FFF;
    width: 50px;
    height: 50px;
    font-family: "dashicons";
    padding-top: 10px;
    bottom: -27px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform .5s;
}

.card.service .card-circle::before {
    content: "\f344";
}

.card.service:hover .card-circle {
    -ms-transform: scale(1.2) translate(-50%, 0);
    /* IE 9 */
    -webkit-transform: scale(1.2) translate(-50%, 0);
    /* Safari 3-8 */
    transform: scale(1.2) translate(-50%, 0);
}

.card.service .service-card-img {
    height: 50px;
    width: auto;

}


@media (max-width: 768px) {
    .card.service .card-header {
        width: 77px;
        height:82px;
        padding: 15px 10px 0;
    }
    .card.service .card-body {
        width: 68%;
        padding-right: 0;
        text-align: left;
    }
    .card.service {
        display: block;
        height: 82px;
        min-height: 82px;
    }
    .card.service:after{
        font-family: dashicons;
        content: "\f344";
        display: inline-block;
        padding-top: 25px;
        color: #2F80ED;

    }
    
    .card.service .service-card-img {
        width: auto;
        height: auto;
    }
    .card.service h4 {
        font-size: 16px;
        line-height: normal;
    }
   
}

@media (max-width: 374px) {
    .card.service .card-body {
        width: 60%;
    }
    .card.service h4 {
        font-size: 14px;
        line-height: normal;
    }
}


/*End service card*/


/**** Team card ******/

.card.team-card {
    
    margin-bottom: 20px;
}

.card.team-card h4 {
        font-size: 24px;
        line-height: 29px;
        color: #6091D4;
        margin: 0 0 5px 0;
}
.card.team-card p {
    font-size:14px;
    margin: 0;
    line-height: normal;
}
.card.team-card .bio p {
    font-size:12px;
    padding: 15px;
    line-height: normal;
}
.mgt-team {
    position:relative;
  }
  .mgt-team .bio {
    position:absolute;
    width:100%;
    z-index: 9;
    padding:15px;
    margin-top:-20px;
    left:0;
    border:none;
    background-color: #D2D2D2;
  }
  .mgt-team .row > div {
    position:inherit;
  }


.card.grey,
.card .grey {
    background-color:#F2F2F2;
}


/**** End team card ******/

/**** group card ******/

.card.group-card {
    height:100%;
    margin-bottom: 10px;
}
.card.group-card p {
    font-size:16px;
    margin: 0;
}
.card.group-card h4 {
    font-size: 24px;
    line-height: 29px;
    color: #6091D4;
    margin: 20px 0;
}
.card.group-card img {
   /* display:block;
    margin:0 auto;*/
    height: 40px;
    width: auto;
}

/**** end group card ******/

/**** financial card ******/
.card.card-financial .card-body {
    padding: 0;
}

.card.card-financial p {
    padding: 0;
    margin: 0;
}

.card.card-financial .dark {
    background-color: #353823;
}

.card.card-financial .dark p {
    color: #FFF;
    line-height: normal;
}

.card.card-financial .dark p span {
    /*display:block;*/
    font-size: 18px;
    padding: 0;
}

.card.card-financial .btn {
    min-width: auto;
}
/**** end financial card ******/


.qr-code-div {
    position: relative;
}

img.qr-code {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform .5s;
    max-width: 178px;
    width: 35%;
}

.card.testimonial h4 {
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card.testimonial p {
    font-size: 14px;
    text-align: center;
}

.the_apps p {
    font-weight: bold;
    margin-bottom: 0;
}

.the_apps a {
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
}

.modal-content {
    background: #333;
    color: #fff;
}

.modal-dialog .close {
    color: #FFF;
    opacity: 1;
}

.modal-header {
    border-bottom: none;
    padding: 5px 10px;
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 675px;
    }
}

.modal-white .modal-content {
    background: #FFF;
    color: #000;
}
.modal-white .modal-dialog .close {
    color: #000;
    opacity: .5;
}


/* ** ** Tab nav used on about page and support * * **/

.nav-tabs.dhani-tabs .nav-link {
    border: 1px solid #000;
    border-radius: 100px;
    color: #000;
    font-size: 18px;
    max-width: 340px;
}

.nav-tabs.dhani-tabs .nav-item.show .nav-link,
.nav-tabs.dhani-tabs .nav-link.active {
    color: #FFF;
    background-color: #3584EE;
    border-color: #3584EE;
}

.nav-tabs.dhani-tabs {
    border-bottom: 0 !important;
}


/* end tab nav */


/* Over lap */

.overlap-top {
    width: 160px;
    height: 160px;
    top: -80px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    transition: transform .5s;
    }

    .overlap-top.card-circle {
        background-color: #2F80ED;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        color: #FFF;
        width: 150px;
        height: 150px;
        top: -70px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        transition: transform .5s;
    }
    

    /* Accordion arrows*/


    .arrow-toggle a {
        /*border-bottom: 1px dashed #B0B0B0;*/
        width:100%;
        padding:10px 0;
        display: block;
        text-decoration: none;
        font-size:18px;
        font-weight:bold;
        color:#000;
    }
    .arrow-toggle a:hover,
    .arrow-toggle a:visited {
        color:#000;
    }
    .arrow-toggle a:after {
        font-family: "dashicons", sans-serif;
        content: "\f347";
        float: right;
    }
    .arrow-toggle a[aria-expanded="true"]:after {
        content: "\f343";
    }
/*more or less*/
    .arrow-toggle.more a,
    .arrow-toggle.more a:hover,
    .arrow-toggle.more a:focus,
    .arrow-toggle.more a:visited {
        width:53px;
        min-width: auto;
    }
    .arrow-toggle.more a:after {
        float: none;
        font-family: "dashicons", sans-serif;
        /*content: "More \f347";*/
        content: "\f347";
        padding-right: 3px;
       
    }
    .arrow-toggle.more a[aria-expanded="true"]:after {
        /*content: "Less \f343";*/
        content: "\f343";
    }