#post-46903 ul li{font-size:16px;margin-left:20px}.site b{display:none!important}.of-button{margin-bottom:20px!important}.of-button .btn-banner-link{margin-bottom:20px!important}.intro-section h1{font-size:36px;line-height:1.2}.intro-section{padding:90px 0 40px;text-align:center}.fixed-width h4{font-weight:bold!important;font-size:32px;line-height:43px}.fixed-width h5{font-weight:bold!important;font-size:32px;line-height:43px}.carousel-indicators{position:static!important}.carousel-indicators li{background-color:#333!important;width:10px!important;height:10px!important;border-radius:100%!important}div.stocks-menu-class ul{margin:20px 0 20px 0;list-style-type:none;list-style:none;list-style-image:none;text-align:left}div.stocks-menu-class li{padding:0 40px 0 0;display:inline}div.stocks-menu-class a{color:#000}.bread-crumb-stocks{background-color:#fff}div.stocks-menu-class li.current_page_item a{border-bottom:5px solid #e98427;color:#2f80ed}div.stocks-menu-class li.current_page_item a:hover{text-decoration:none;border-bottom:5px solid #2f80ed}div.stocks-menu-class li a:hover{text-decoration:none;border-bottom:5px solid #2f80ed}div.medical-menu-class ul{margin:20px 0 20px 0;list-style-type:none;list-style:none;list-style-image:none;text-align:left}div.medical-menu-class li{padding:0 40px 0 0;display:inline}div.medical-menu-class a{color:#000}.bread-crumb-medical{background-color:#fff}div.medical-menu-class li.current_page_item a{border-bottom:5px solid #e98427;color:#2f80ed}div.medical-menu-class li.current_page_item a:hover{text-decoration:none;border-bottom:5px solid #2f80ed}div.medical-menu-class li a:hover{text-decoration:none;border-bottom:5px solid #2f80ed}.medical-fw{width:80%;margin-left:auto;margin-right:auto}div.accident-menu-class ul{margin:20px 0 20px 0;list-style-type:none;list-style:none;list-style-image:none;text-align:left}div.accident-menu-class li{padding:0 40px 0 0;display:inline}div.accident-menu-class a{color:#000}.bread-crumb-accident{background-color:#fff}div.accident-menu-class li.current_page_item a{border-bottom:5px solid #e98427;color:#2f80ed}div.accident-menu-class li.current_page_item a:hover{text-decoration:none;border-bottom:5px solid #2f80ed}div.accident-menu-class li a:hover{text-decoration:none;border-bottom:5px solid #2f80ed}.post1-share .wpb_wrapper{display:flex;flex-wrap:wrap;float:right}.second-post .vc_gitem-row-position-bottom{position:relative!important}#medi-insur-head .elementor-container{padding-left:7.365rem;padding-right:7.365rem}@media screen and (max-width:1280px){#medi-insur-head .elementor-container{padding-left:1rem!important;padding-right:1rem!important}}@media screen and (max-width:768px){#medi-insur-head .elementor-container{padding-left:1rem!important;padding-right:1rem!important}}.one-edge-shadow{-webkit-box-shadow:0 8px 6px -6px black;-moz-box-shadow:0 8px 6px -6px black;box-shadow:0 8px 6px -6px black}#medical-faq-top-shadow{box-shadow:inset 0 11px 10px -15px #111}}



@media screen and (max-width:768px){.d1-container{
		padding-left:0px !important;
		padding-right:0px !important;
	}}.addtoany_share_save_container{display:flex;float:right}.nav-links{display:flex;justify-content:center}.nav-previous,.nav-next{padding:10px 30px;border:2px solid #000;border-radius:100px;margin:0 5px}.blog-comment-block{margin-bottom:30px}.dropdown-blog{position:relative}.dropdown-blog a{text-decoration:none}.dropdown-blog [data-toggle="dropdown"]{display:block;color:#fff;background:#c0392b;-moz-box-shadow:0 1px 0 #d65548 inset , 0 -1px 0 #962d22 inset;-webkit-box-shadow:0 1px 0 #d65548 inset , 0 -1px 0 #962d22 inset;box-shadow:0 1px 0 #d65548 inset , 0 -1px 0 #962d22 inset;text-shadow:0 -1px 0 rgba(0,0,0,.3);padding:10px}.dropdown-blog [data-toggle="dropdown"]:hover{background:#cd3d2e}.dropdown-blog [data-toggle="dropdown"]:before{position:absolute;display:block;content:'\25BC';font-size:.7em;color:#fff;top:13px;right:10px;-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);-moz-transition:-moz-transform .6s;-o-transition:-o-transform .6s;-webkit-transition:-webkit-transform .6s;transition:transform .6s}.dropdown-blog>.dropdown-menu{max-height:0;overflow:hidden;list-style:none;padding:0;margin:0;-moz-transform:scaleY(0);-ms-transform:scaleY(0);-webkit-transform:scaleY(0);transform:scaleY(0);-moz-transform-origin:50% 0%;-ms-transform-origin:50% 0%;-webkit-transform-origin:50% 0%;transform-origin:50% 0%;-moz-transition:max-height .6s ease-out;-o-transition:max-height .6s ease-out;-webkit-transition:max-height .6s ease-out;transition:max-height .6s ease-out;animation:hideAnimation .4s ease-out;-moz-animation:hideAnimation .4s ease-out;-webkit-animation:hideAnimation .4s ease-out}.dropdown-blog>.dropdown-menu li{padding:0}.dropdown-blog>.dropdown-menu li a{display:block;color:#6f6f6f;background:#eee;-moz-box-shadow:0 1px 0 white inset , 0 -1px 0 #d5d5d5 inset;-webkit-box-shadow:0 1px 0 white inset , 0 -1px 0 #d5d5d5 inset;box-shadow:0 1px 0 white inset , 0 -1px 0 #d5d5d5 inset;text-shadow:0 -1px 0 rgba(255,255,255,.3);padding:10px 10px}.dropdown-blog>.dropdown-menu li a:hover{background:#f6f6f6}.dropdown-blog>input[type="checkbox"]{opacity:0;display:block;position:absolute;top:0;width:100%;height:100%;cursor:pointer}.dropdown-blog > input[type="checkbox"]:checked ~ .dropdown-menu {max-height:9999px;display:block;-moz-transform:scaleY(1);-ms-transform:scaleY(1);-webkit-transform:scaleY(1);transform:scaleY(1);animation:showAnimation .5s ease-in-out;-moz-animation:showAnimation .5s ease-in-out;-webkit-animation:showAnimation .5s ease-in-out;-moz-transition:max-height 2s ease-in-out;-o-transition:max-height 2s ease-in-out;-webkit-transition:max-height 2s ease-in-out;transition:max-height 2s ease-in-out}.dropdown-blog>input[type="checkbox"]:checked+a[data-toggle="dropdown"]:before{-moz-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg);-moz-transition:-moz-transform .6s;-o-transition:-o-transform .6s;-webkit-transition:-webkit-transform .6s;transition:transform .6s}@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}@-webkit-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}@-webkit-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}.blog-a-menu{margin:0 0 15px!important;float:left;width:100%}.blog-a-menu li.dropdown-blog{list-style:none}.blog-a-menu li.dropdown-blog>a{width:100%;display:block;position:relative;pointer-events:none;font-size:16px}.blog-a-menu li.dropdown-blog>a::after{content:"⌄";position:absolute;top:0;right:0;line-height:1}.blog-a-menu .dropdown-blog .archive-sub-menu{position:static;float:left;width:100%;border:0}.blog-a-menu .dropdown-blog .archive-sub-menu li{margin-top:6px}.blog-a-menu .dropdown-blog .archive-sub-menu li a{color:#424242;background:#e9e9e9;box-shadow:none!important;font-size:16px;border-radius:4px}.arch-box{box-shadow:0 2px 10px 0 rgba(0,0,0,.2);border-radius:8px}.widget-title-arc{font-size:26px;line-height:1.6}.timeline-info{width:20%;min-height:250px}*{box-sizing:border-box}body{font-family:"Open Sans",sans-serif;font-size:14px;padding:0;margin:0}.container{height:100%;display:flex;justify-content:center;align-items:center;flex-direction:column}.title{font-size:38px;color:#fff;font-weight:300}.timeline{width:100%;position:relative;margin-top:100px}.timeline-nav__item{width:auto;height:auto;text-align:center;opacity:.5;background:transparent;color:#afc9f6;margin:15px 25px!important;position:relative;font-size:14px;line-height:28px;font-weight:400;outline:none;cursor:pointer}.timeline-nav__item::before{content:"";position:absolute;top:30px;left:50%;transform:translateX(-50%);width:10px;height:10px;border-radius:100%;background-color:#afc9f6;transition:.2s}.timeline-nav__item.slick-current{color:#f90;opacity:1}.timeline-nav__item.slick-current::before{background-color:#f90}.timeline-wrapper{position:relative;width:100%;height:580px;margin:60px auto}@media (max-width:500px){.timeline-wrapper{height:1000px;max-height:900px}}.timeline-slider{height:100%}.timeline .slick-list{height:100%}@media (min-width:1080px){.timeline .slick-list{padding:0 180px!important}}.timeline .slick-track{height:100%}.timeline-slide{position:relative;overflow:hidden;background-repeat:no-repeat;outline:none;background-size:auto 400px , cover;background-position:top;margin:0 24px;width:80%;z-index:1}.timeline-slide:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,52,113,.8);z-index:2}.timeline-slide__content{z-index:5;position:absolute;width:80%;left:50%;transform:translate(-50%,0);padding:40px;opacity:0;transition:opacity 1s}@media (max-width:500px){.timeline-slide__content{width:100%}}.timeline-year{z-index:5;font-size:35px;color:#fff;background:#f90;padding:15px 26px;transition:opacity 1.2s;position:absolute;right:0;opacity:0}.timeline-title{color:#f90;font-size:26px;line-height:30px;font-weight:400}.timeline-text{font-size:18px;line-height:28px;color:#666}.timeline .slick-current:after{background-color:rgba(0,52,113,0)}.timeline .slick-current .timeline-year{opacity:1}.timeline .slick-current .timeline-slide__content{opacity:1}.job-pop-content{background-color:#fafafa}.cls-btn-job{color:#000!important}.job-pop-content h5{font-size:28px}.job-pop-content p{font-size:18px;padding:10px 15px}.job-pop-content{padding:15px 20px}.do-nothing{display:none}.infobox-price{background-color:#eaeaea;padding:15px;border-radius:5px;box-shadow:0 0 20px -5px}.2fa-sec{margin-left:auto;margin-right:auto;text-align:center;min-height:70vh}@media screen and (max-width:768px){.pharma-benefits p,h3{text-align:center!important}}.info-box-wallet{background-color:#23488b;padding:10px 20px}.info-box-wallet .aio-icon-description{}.info-box-wallet .aio-icon-description{padding:10px 0}.info-box-wallet .aio-icon-description p{font-size:18px}#Info-box-wrap-3961 .aio-icon-description{font-size:16px}.wallet-points .uavc-list-content{margin-bottom:15px;align-content:center;display:flex}.wallet-sec1{margin:10px 20px;align-content:center;display:flex;padding:5px;border:1px solid #e8e8e8}.wallet-feature{margin:15px 0}.wallet-feature .left-icon{margin:30px}.wallet-feature{border:1px solid #e8e8e8;min-height:135px;align-content:center;display:flex}.wallet-feature{font-size:16px}.wallet-left-column .vc_column-inner{background-repeat:no-repeat;background-position:bottom}#wallet-bottom-cta{border-radius:25px}#wallet-bottom-cta .vcpb-default{border-radius:10px;margin:10px 0}.wallet-cta-right .vc_column-inner{background-repeat:no-repeat;background-position:center}.wallet-desc{padding:0% 18%}.wallet-left-column .wpb_content_element{margin-bottom:0!important}@media screen and (max-width:768px){.wallet-banner{margin:15px!important}.wallet-desc{padding:0% 2%}.banner-text h4{font-size:16px!important}.info-box-wallet{min-height:0!important;margin:25px}.info-box-wallet{min-height:0!important;border-radius:10px}.banner-text h4{font-size:22px!important}#wallet-banner{padding-left:0!important;padding-right:0!important}}@media screen and (min-width:767px){.show-mob{display:none}.info-box-wallet{min-height:400px!important;border-radius:10px}}@media screen and (min-width:768px ) and (max-width:1024px){.wallet-services{width:50%!important}.wallet-left-column{width:100%}.wallet-right-column{width:100%}.wallet-right-column{width:100%}}@media screen and (max-width:1024px){#wallet-bottom-cta{padding:15px}}@media scree and(max-width:768px){
span.doctor-price-header h5 {
    font-size: 18px;
    line-height: 20px;
}


}